---
import Button from '../components/Button.astro';
import FormInput from '../components/FormInput.astro';
import FormTextArea from '../components/FormTextArea.astro';
import FormButton from '../components/FormButton.astro';
---

<section aria-labelledby="contact" class="container mx-auto px-8 overflow-hidden">
  <div class="flex flex-wrap justify-center gap-12 md:gap-6 lg:gap-20">
    <div class="md:flex-1 md:max-w-sm relative">
      <img src="./assets/lamp.png" alt="Lamp" class="mx-auto">
      <Button variant='download' classExtra='w-max mx-auto mt-12 md:mb-12'>Download the App</Button>
      <img src="/assets/app.svg" alt="app" width="240" class="hidden md:block drop-shadow-xl absolute left-1/2 -translate-x-1/2 max-w-16 xl:max-w-xs">
      <div 
        class="
          absolute
          -bottom-18
          left-1/2
          -translate-x-1/2
          -z-10
          aspect-square
          md:border-8
          border-amber-400
          rounded-full
          md:w-72
          lg:w-96
        ">
      </div>
    </div>
    <form class="relative border-8 border-neutral-900 p-6 rounded-lg grid gap-8 md:flex-1 md:max-w-lg my-4 md:my-12 lg:my-16 bg-white dark:bg-neutral-800 w-full">
      <h2 id="contact" class="text-3xl font-bold">Let’s Connect</h2>
      <FormInput id="name" label="Your Name"/>
      <FormInput id="email" label="Your Email" />
      <FormTextArea id="message" label="How can we help?" />
      <FormButton>Sign Up</FormButton>
  </form>
  </div>
</section>