---
export interface Props {
  id: string,
  label: string,
}

const { id, label } = Astro.props as Props;
---

<div class="relative">
  <input 
    type="text"
    id={id} 
    class="peer form-input w-full border-4 border-amber-400 rounded-md focus:ring-4 dark:focus:ring-offset-2 focus:ring-amber-400 focus:border-amber-400 focus:outline-none dark:bg-amber-400 dark:text-neutral-900 placeholder-transparent" 
    placeholder={label}
  >
  <label for={id} 
    class="text-neutral-500 text-sm font-bold uppercase absolute -top-4 left-2 -translate-y-1/2 transition-all peer-placeholder-shown:left-4 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-neutral-900 peer-focus:-top-4 peer-focus:left-2 peer-focus:text-neutral-600 dark:peer-focus:text-neutral-300">
    {label}
  </label>
</div>
