---
import logo from "../assets/logo.svg";
---

<nav class="mx-aut p-4 bg-amber-400">
  <div class="container mx-auto flex items-center justify-between">
    <a href="/" aria-label="Go to Home Page">
      <img src={logo} width="200" class="w-48 md:w-64 lg:w-72" alt="Home Smart Logo">
    </a>
  </div>  
</nav>
